header {
  border-bottom: 1px solid black; 
  display:flex; 
  padding:20px; 
}

nav { 
  display: flex; 
  justify-content: flex-end; 
  margin: 0 auto ; 
  max-width: 1080px;
}

nav p { 
  color: black;
  font-size: 16px; 
  font-weight: bold; 
  margin: 0 ; 
  margin-left: 40px;
}


.PageWrapper{
  margin:0 auto; 
  padding: 25px; 
  max-width:1080px; 
}

.PageWrapper-Login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin:0 auto; 
  padding: 0px; 
  max-width:100vw; 
  color: antiquewhite;
}

.formElement{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  text-align: center;
  align-items: center; 
}

.FormElement-login{
 padding: 25px;
}

.formElement input{
  font-size: 16px;
  margin-bottom: 30px;
  padding: 10px;
}

.formElement label{
  font-size: 16px;
  margin-bottom: 30px;
  padding: 0;
}

.formElement button{
  font-size: 16px;
  margin-bottom: 30px;
  padding: 10px;
}

.loginPage-backgroundVideo{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: -1;
  width: 100%;
}

.loginFrame{
  border-radius: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgba(209, 198, 190,0.8);
  padding: 30px;
  width: 325px;
  min-height: 300px;
}

.Post-wrapper{
  display: flex;
  flex-direction: column;
}

.Post{
  border: 2px solid black;
  padding: 25px;
  margin: 15px;
  width: 35%;
}
